<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="album_metadata" data-view="Text"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="photo_count" data-view="Number"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="five_minutes" data-view="Graph"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fifteen_minutes" data-view="Graph"></div>
    </li>

  </ul>
</div>
